.electricity {
    height: 100%;
    position: relative;

    &_btn {
        position: fixed;
        bottom: 50px;
        right: 50px;
    }
}

.at-fab {
    background: rgba(45, 183, 245, 0.75);
}