@import '../../mixin.scss';

.message {
    overflow: hidden;

    .card {
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;

        &-content {
            // font-weight: bold;
            text-overflow: -o-ellipsis-lastline;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

.at-card__header {
    border-bottom: 1PX solid $color-border-base;

    &-title {
        color: #333;
        font-size: 30px;
        font-weight: bold;
    }

    &-extra {
        color: #999;
    }
}