.visit {
    height: 100%;

    .qrCode {
        display: flex;
        align-items: center;
        height: 100%;

        image {
            height: 300px;
            width: 300px;
            margin: 0 auto;
        }
    }

    .page-section {
        display: flex;
        justify-content: space-between;

        position: relative;
        padding: 24px 0;
        color: #333;
        background-color: #FFF;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 1PX;
        position: relative;
        font-size: 32px;
        border-bottom: 1PX solid #eee;
    }

    &_btn {
        // margin: 20px auto;
        // width: 80%;
        padding: 50px;
    }
}